
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
html {
  scroll-behavior: smooth;
}

body{
    font-family: inter;
    background-color: #000000;
    letter-spacing: -0.06em;
    color: white;
  }
  
  .container {
    display: absolute;
    text-align: center;
    vertical-align: center;
    margin-top: 17%;
    justify-content: center;
  }
  
  .Title {
    font-size: 80px;
    color: #Faff00; 
   }
  
  .Title:before {
    color: white;
    content: "Charlie ";
  }
  
  
  
  .explorebutton {
    width: 248px;
    height: 81px;
    padding-left: 33px;
    padding-right: 33px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: #Faff00;
    border: none;
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
    font-size: 40px;
    font-weight: 600;
    border-radius: 20px;
  
  }
  
a {
  text-decoration: none;
  color: black;
}


  .explorebutton:hover {
  
    box-shadow: 7px 5px 56px -14px #C3D900;
  
  }
  .explorebutton:active {
    transform: scale(0.97);
    box-shadow: 7px 5px 56px -10px #C3D900;
  }

  @media (max-width: 500px) {

    * {
      text-align: center;
      align-items: center;
      justify-content: center;
    }

    html {
      justify-content: center;
      align-items: center;
    }

    .app {
      justify-content: center;
      align-items: center;
      margin: auto;

    }
    .container {
      justify-content: center;
      align-items: center;
      margin-top: 50%;
      margin-bottom: 50%;
    }

    .Title {
      font-size: 50px;
      color: #Faff00; 
     }

    .explorebutton {
      width: auto;
      height: auto;
      font-size: 30px;
      text-decoration: none;
      color: black;
    }
    body {
      margin: auto;
    }

    h2 {
      font-weight: 500;
    }

  }