body {
    scroll-behavior: smooth;
}

h2 {
    font-size: 50px;
    font-weight: 600;
    color: black;
    text-align: center;
}


.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header h1 {
    display: grid;
    font-size: 50px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 30px;
    grid-template-columns: 555px 500px 260px 260px;
    column-gap: 35px;
    align-items: center;
    justify-content: center;
}

.arrow {
    width: 62px;
    justify-content: center;
    transition: all 0.4s ease-in-out;
}

.arrow:hover {
    cursor: pointer;
    transform: translate(0px, 10px);
}

.idbuttoncontainer {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    justify-content: center;
    gap: 70px;
    margin: 0;
    color: black;
    text-align: center;
    align-items: center;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 30px;
}




.mywork_3D {
    width: 492px;
    height: 658px;
    flex-shrink: 0;
    border-radius: 70px;
    background-color:#FE1038;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease-in-out;
}

.mywork_3D:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.level1, .level2, .level3 {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: left;

}

.level1 h1, .level2 h1, .level3 h1 {
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 800px 450px 450px;
    margin-left: 60px;
    font-size: 40px;
}

.level3 {
    margin-bottom: 65px;
}


.vstack {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
    gap: 60px;
}

.vstack2 {
    display: flex;
    flex-direction: row;
}
.sidebarwrapper {
    position: fixed;
    left: 80%;
    top: 50%;
    padding: 20px;
    transition: background-color 0.3s ease-in-out;
}
.sidenav {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 0;
    margin: 0;
    text-align: right;
    font-size: 25px;
    align-items: flex-end;
}

.sidenav h3 {
    margin: 0;
}

.topline {
    width: 30px;
    height: 60px;
}
.line {
    width: 30px;
    height: 50px;
}
.arrowcontainer {
    display: flex;

    justify-content: center;
    align-items: center;    


}

.workgrid {
    display: grid;
    grid-template-columns: 800px 450px 450px;
    grid-template-rows: 340px 340px;
    column-gap: 30px;
    row-gap: 30px;
    margin-bottom: 30px;
}

.content1, .content2, .content3, .content4, .workTitle {
    background-color: #FE1038;
    border-radius: 70px;
    text-align: center;
    border: 5px solid #FE1038;

}

.content1 {
    background-image: url('/images/kitchen.png');
    background-size: cover;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.content2 {
    background-image: url('/images/plane.png');
    background-size: cover;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.content3 {
    background-image: url('/images/bar.png');
    background-size: cover;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.content4 {
    background-image: url('/images/placeholder.jpg');
    background-size: cover;
}

.workTitle{
    background-color: #FE1038;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 50px;
    font-weight: 600;
}

.workTitle h1 {
    margin: 0;
    font-size: 50px;
    font-weight: 700;
    color: black;
}

@media (max-width: 500px) {
    .h1 {
        font-size: 30px;
    }

    .idbuttoncontainer {
        flex-direction: column;
        gap: 30px;
        width: 350px;
    }
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-self: auto;
    }
    
    .header h1 {
        display: grid;
        font-size: 30px;
        grid-template-columns:175px 175px;
        margin-bottom: 15px;
    }

    .mywork_3D {
        width: 350px;
        height: 200px;
        border-radius: 45px;
    }


    .workgrid {
        display: flex;
        flex-direction: column;

    }
    
    .level1, .level2, .level3 {
        display: flex;
    }   
    .arrow {
        width: 35px;
    }

    .content1, .content2, .content3, .content4 {
        width: 350px;
        height: 200px;
        border-radius: 45px;
    }

    .workTitle {
        height: 100px;
        width: 350px;
    }

    .level1 h1 {
        font-size: 25px;
        text-align: left;
        display: grid;
        grid-template-columns: 200px 150px;
        margin: 0;
        margin-bottom: 15px;
    }
    h2 {
        font-size: 30px;
    }
}
